<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.digitalclutter.scanner</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/adriansolomone/Bob/Digital Decluttering agent/run_scheduled_scan.sh</string>
    </array>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Day</key>
        <integer>1</integer>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/adriansolomone/Bob/Digital Decluttering agent/logs/launchd.out.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/adriansolomone/Bob/Digital Decluttering agent/logs/launchd.err.log</string>
    
    <key>RunAtLoad</key>
    <false/>
    
    <key>WorkingDirectory</key>
    <string>/Users/adriansolomone/Bob/Digital Decluttering agent</string>
</dict>
</plist>